[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telethon = "*"
fastapi = "*"
requests = "*"
pydantic-settings = "*"

[dev-packages]
flake8 = "*"
pydocstyle = "*"
pre-commit = "*"

[requires]
python_version = "3.13"
