[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telethon = "*"
fastapi = "*"
requests = "*"
pydantic-settings = "*"
uvicorn = "*"
aiohttp = "*"

[dev-packages]
flake8 = "*"
pydocstyle = "*"
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
sphinx = "*"
babel = "*"

[requires]
python_version = "3.13"
